#debug-nav { 
  padding: 5px 10px; 
  background-color: #e5ebe4; 
  color: #037b82; width: 100%;
}

.db-input-label {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 2px;
}

.db-input-field {
  display: inline-block;
  vertical-align: top;
}

.db-input-invalid-msg {
  color: #fab0b6;
}
